<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Knowledge Fusion</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/css/uikit.min.css"/>

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.6/js/uikit-icons.min.js"></script>

</head>
<body class="uk-padding">
<h3>Welcome to Knowledge Fusion</h3>
<form method='POST' class="uk-form-horizontal uk-margin-large">
    <div class="uk-margin">

        <label class="uk-form-label" for="form-horizontal-text">Username</label>
        <div class="uk-form-controls">

            <input class='uk-input' type='text' name='username'></input>
        </div>
    </div>
    <div class="uk-margin">

        <label class="uk-form-label" for="form-horizontal-text">Password</label>
        <div class="uk-form-controls">

            <input class='uk-input' type='password' name='pw'></input>
        </div>
    </div>
    <div class="uk-margin">

        <input class="uk-button uk-button-primary" type='submit' name='submit'></input>
    </div>
</form>
</body>
</html>
